
/* QUITAR FLECHAS INPUT NUMBER */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* FLECHA CUADROS DIALOGOS*/
.cssarrow {
	width: 500px;
	height: 200px;
	position: relative;
	background: #D50000;
	border: 5px solid #c2e1f5;
}
.cssarrow:after,
.cssarrow:before {
	right: 100%;
	top: 55px;
	border: 3px solid #000;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.cssarrow:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #D50000;
	border-width: 30px;
	margin-top: 0px;
}
.cssarrow:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c2e1f5;
	border-width: 36px;
	margin-top: -6px;
}

/* HACK COMBO SELECT */
select{
	font-size         : 11px;
	width             : 100%;
	height            : 22px;
	border            : none;
	line-height       : 18px;
	margin            : 0;
	padding-top       : 5px;
	background        : #FFF none no-repeat;
	border            : 1px solid #d4d4d4;
	border-radius     : 2px;
	cursor            : pointer;
	webkit-box-shadow : none !important;
	box-shadow        : none !important;
}

select:hover{ background-color : #eef5f6; }

@media screen and (min-width:0) {
  /* for relatively modern browsers including IE 8+ */
  select {
    border-radius: 4px;
    background-image: url("data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAaCAYAAACkVDyJAAAAlElEQVRIx+2VwQ3AIAhFwTiFi7KC7uYGHo1z0Et7MWkjaEiaQOJBDzy/wgdqrXwHWKyAiGAZDnSgHBhC+IfCUgqbKXxgGqhY4QyRQkUK35KLoK01iZd+xZKXRuEfbvdQPPGkAABEhMeLhohE5yfaAufk93791r13zQDmnLNqcOMYg1NKmoJgTRHtmDeaWZvPQweaAi8PXSmZJU3QRAAAAABJRU5ErkJggg==");
    background-position: -50px -50px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* for Webkit */
  select {
    -webkit-appearance: none;
    background-position: right center;
    padding: 3px 32px 3px 5px;
  }
}

@-moz-document url-prefix() {
  /* for Firefox */
  select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    background-position: right center;
    padding-right: 16px;
  }

  /* hides the dotted outline on focus in FF (See SO#3773430) */
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* for IE10+ */
  select::-ms-expand {
    display: none;
  }
  select {
    background-position: right center;
    padding-right: 30px;
  }
}

/* MEDIA QUERY */
@media screen and (min-width:551px) and (max-width:650px) {
	.contenedorObservacionGeneral{ width: 40% !important; }
}

